.answer-flashCard{
    font-size: 100pt;
    color: #f95e01;
    text-align: center;
}

.guess-flashCard {
    font-size: 50pt;
    color: #f95e01;
    text-align: center;
    margin-bottom: 5em;
    margin-top: 0;
}

.bottom-flashCard {
    width: 50%;
}
.right-flashCard {
    float: right;
}
.left-flashCard {
    float: left;
}