#answer-flashCard{
    font-size: 100pt;
    color: #f95e01;
    text-align: center;
}

.guess-flashCard {
    font-size: 50pt;
    color: #f95e01;
    text-align: center;
    margin-bottom: 5em;
    margin-top: 0;
}

#guesses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin: 10% 5% 0 5%;
}