body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}
.nav-page {
    background: #333 url('background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.main-buttons img {
    margin:0 22.5%;
    width: 55%;
}
.back-btn {
    position: absolute;
    top:1em;
    left:1em;
    width: 30%;
    height: auto;
}
.back-btn img {
    width: inherit;
    height: inherit;
}
